.card{
    width: 290px;
    height: 350px;
    border-radius: 20px;
    background-color: gray;
    border-width: 2px;
    display: flex;
    flex-direction: column;
    font-family: 'Cabin', sans-serif;

}

.cardImage{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.dishName{
    font-size: 30px;
    padding-left: 180px;
}