
.topBarBody{
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-between;
}

a{
    padding-left: 58px;
    text-decoration: none;
    color: black;
    font-size: 17px;
}

.logo{
    font-size: 24px;
}