.body{
    display: flex;
    flex-direction: column;
}

.body > div {
    width: 1180px;
    height: 350px;
    border-style: solid;
    border-radius: 20px;
    background-color: white;
    box-shadow: 17px 24px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: row;
    gap: 90px;
    padding: 0 100px;
}

.price {
    text-align: center;
    align-self: center;
}

.price > p {
    font-size: 23px;
}
