.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 30px;
  background-color: #F5F3F0;

}

.homePageTopSection{
  width: 1380px;
  height: 480px;
  background-color: #FEBD2D;
  border-radius: 30px;
  font-family: 'Cabin', sans-serif;
}

.navBar{
  padding: 0 30px;
}

h1{
  font-size: 100px;
  color: white;
  text-align: center;
  font-weight: normal;
  font-family: 'Cagliostro', sans-serif;
}


button{
  width: 180px;
  height: 60px;
  border-radius: 40px;
  border-width: 1px;
  background-color: #F5F3F0;
  font-size: 26px;
  font-family: 'Cabin', sans-serif;
}

button:hover{
  background-color: #FEBD2D;
}

.filterButtons{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.searchings{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;  
}

.searchResults{
  display: flex;
  flex-direction: row;
}

.cards{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30px
}

.searchInput{
  width: 670px;
  height: 60px;
  border-radius: 30px;
  font-size: 30px;
  border-width: 1px;
  background-color: #F5F3F0;
  font-family: 'Cabin', sans-serif;
}

.sort{
  width: 210px;
  height: 60px;
  border-radius: 30px;
  font-size: 30px;
  border-width: 1px;
  background-color: #F5F3F0;
  font-family: 'Cabin', sans-serif;
}

.filterFont{
  font-size: 40px;
  padding-right: 80px;
  font-family: 'Cagliostro', sans-serif;
}

.bottomSection{
  padding: 50px 50px;
}

.searchResults{
  padding: 0px 30px;
  justify-content: space-between;
}